.tweet {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
  }

.tweet-username{
  color: blue;
  align-self: flex-start;
  padding: 10px;
}

.tweet-date{
  color: rgb(62, 62, 62);
  align-self: flex-end;
  padding: 10px;
}
.add-comment {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre input y botón */
  margin-top: 10px;
}

.comment-input {
  flex: 1; /* Para que ocupe el espacio disponible */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.comment-input:focus {
  border-color: #1da1f2; /* Color de Twitter */
  background-color: #f0f8ff;
}

.comment-button {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease-in-out;
}

.comment-button:hover {
  background-color: #0c85d0;
}